
@font-face {
  font-family: 'pokemon';
  src: url('src/PokemonSolid.ttf') format('truetype')
}

body {
  /* background: #2e2d2d; */
  background-image: url('src/imgs/bg4.jpg');
  background-repeat: initial;
  background-size: cover;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.book {
  transition: opacity 0.4s 0.2s;
}

p{
  margin-top: 8vw;
  text-align: center;
  font-size: 5vw;
  color: #000000;
}
.page {
  width: 30vw;
  height: 44vw;
  background-color: #111111;
  float: left;
  margin-bottom: 0.5em;
  background: left top no-repeat;
  background-size: cover;
}

/**/

.page {
  position: relative;
}

.page-content {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columnas iguales */
  gap: 10px; /* Espacio entre las imágenes */
  margin: 30px 50px 30px 50px;
}

.page-content img {
  max-width: 100%; /* Ajustar imagen al tamaño de su contenedor */
  height: auto;
  display: block; /* Para eliminar el espacio extra debajo de las imágenes */
  margin-top: 20px;
}

.page:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.7s;
  z-index: 1;
}

/**/
.cromo {
  transition: transform 0.2s ease;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.cromo:hover {
  transform: scale(1.9);
}


.page:nth-child(even) {
  clear: both;
}

.book {
  perspective: 250vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 2em 0;
  line-height: 1.5em;
}

.book .pages {
  width: 60vw;
  height: 44vw;
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 4px;
}

.book .page {
  float: none;
  clear: none;
  margin: 0;
  position: absolute;
  top: 0;
  width: 30vw;
  height: 44vw;
  transform-origin: 0 0;
  transition: transform 1.4s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  cursor: pointer;
  user-select: none;
  background-color: #e7cba7;
}
.book .page:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.7s;
  z-index: 2;
}
.book .page:nth-child(odd) {
  pointer-events: all;
  transform: rotateY(0deg);
  right: 0;
  border-radius: 0 4px 4px 0;
  background-image: linear-gradient(to right, rgba(0,0,0,.15) 0%, rgba(0,0,0,0) 10%);
}
.book .page:nth-child(odd):hover {
  transform: rotateY(-15deg);
}
.book .page:nth-child(odd):hover:before {
  background: rgba(0, 0, 0, 0.03);
}
.book .page:nth-child(odd):before {
  background: rgba(0, 0, 0, 0);
}
.book .page:nth-child(even) {
  pointer-events: none;
  transform: rotateY(180deg);
  transform-origin: 100% 0;
  left: 0;
  border-radius: 4px 0 0 4px;
  border-color: black;
  background-image: linear-gradient(to left, rgba(0,0,0,.12) 0%, rgba(0,0,0,0) 10%);
}

.book .page:nth-child(even):before {
  background: rgba(0, 0, 0, 0.2);
}
.book .page.grabbing {
  transition: none;
}
.book .page.flipped:nth-child(odd) {
  pointer-events: none;
  transform: rotateY(-180deg);
}
.book .page.flipped:nth-child(odd):before {
  background: rgba(0, 0, 0, 0.2);
}
.book .page.flipped:nth-child(even) {
  pointer-events: all;
  transform: rotateY(0deg);
} 
.book .page.flipped:nth-child(even):hover {
  transform: rotateY(15deg);
}
.book .page.flipped:nth-child(even):hover:before {
  background: rgba(0, 0, 0, 0.03);
}
.book .page.flipped:nth-child(even):before {
  background: rgba(0, 0, 0, 0);
}
*,
* :before,
*:after {
  box-sizing: border-box;
}

.page:nth-child(odd){
  background-position: right top;
}

/*PORTADA*/
#portada {
  height: 800px;
  margin-top: 12px;
}

#page-portada {
  background-color: #168ac3;
}

#titulo {
  position:absolute; 
  height: 200px;
  margin-top: 440px;
  margin-left: 60px;
}


/*LOGO*/
.logo {
  height: 130px;
  position: relative;
  position: fixed;
  top: 20px;
  right: 30px;
  border-radius: 25px;
}


/*EQUIPO*/
#equipo {
  /* background-color: #1689c37c; */
  background-color: #031802a2;
  width: 270px;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
  margin-top: -8px;
  margin-left: -10px;
}

.selected {
  background-color: rgba(255, 255, 255, 0.322);
  width: 200px;
  height: 150px;
  margin: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.selected:hover {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
  transition: box-shadow 0.3s ease;
}

.selectedCasilla {
  background-color: rgba(255, 255, 255, 0.637);
}

/*BOTON*/
.pokemon-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: help;
  font-weight: bold;
  outline: none;
  position: relative;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.pokemon-button:hover {
  background-color: #d32f2f;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pokemon-button:hover {
  animation: pulse 0.5s infinite;
}

#shiny {
  position: relative;
  position: fixed;
  bottom: 90px;
  right: 110px;
  font-size: 17px;
  color: white;
  font-family: pokemon;
  letter-spacing: 3px;
}